<% provide(:title, 'Home') %>
<h1>FridgeChart</h1>
<div class="row">
  <div class="four columns">
    .four.columns
  </div>
  <div class="four columns">
    .four.columns
  </div>
  <div class="four columns">
    .four.columns
  </div>
</div>

<div class="row">
  <div class="one columns centered">
    .one.columns.centered
  </div>
</div>

<!-- Sizes -->
<a class="tiny button" href="#">Tiny</a>
<a class="small button" href="#">Small</a>
<a class="button" href="#">Medium</a>
<a class="large button" href="#">Large</a>

<!-- Types -->
<a class="button" href="#">Normal</a>
<a class="secondary button" href="#">Secondary</a>
<a class="success button" href="#">Success</a>
<a class="alert button" href="#">Alert</a>

<!-- Styles -->
<a class="button" href="#">Square</a>
<a class="radius button" href="#">Radius</a>
<a class="round button" href="#">Round</a>