<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
  	<div class="container">
	  <a class="brand" href="#"><%= image_tag("logo.png", :alt => "FridgeChart") %></a>
	  <ul class="nav">
	    <li class="active"><a href="#">Use Cases</a></li>
	    <li><a href="#">Quick Start</a></li>
	    <li><a href="#">Pricing</a></li>
	  </ul>
	</div>    
  </div>
</div>